

.web01{

  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position:relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin:auto;
    // vertical-align-item:center;
    align:center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em)
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.9em;
    position:absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size:0.6em;
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
    
    &:hover {
      transform: rotateX(-90deg);
    }
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  .top {
    padding-top:1.3em;
    background: black;
    color: white;
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    // border-radius:10em;


  }

  .front {
    padding-top:1.3em;
    background: transparent;
    color: black;
    box-shadow: inset 0 0 0 2px black;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    // border-radius:10em;

  }

  .front1 {
    color:black;
    // box-shadow: inset 0 0 0 2px black;
  }
}

.web02{

  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position:relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin:auto;
    // vertical-align-item:center;
    align:center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em)
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.9em;
    position:absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size:0.6em;
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
    
    &:hover {
      transform: rotateX(-90deg);
    }
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  .top {
    padding-top:1.3em;
    background: black;
    color: white;
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    // border-radius:10em;


  }

  .front {
    padding-top:1.3em;
    background: transparent;
    color: black;
    box-shadow: inset 0 0 0 2px black;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    // border-radius:10em;

  }

  .front1 {
    color:black;
    // box-shadow: inset 0 0 0 2px black;
  }
}

.web03{

  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position:relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin:auto;
    // vertical-align-item:center;
    align:center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em)
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.9em;
    position:absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size:0.6em;
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
    
    &:hover {
      transform: rotateX(-90deg);
    }
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  .top {
    padding-top:1.3em;
    background: white;
    color: #222229;
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    // border-radius:10em;


  }

  .front {
    padding-top:1.3em;
    background: transparent;
    color: white;
    box-shadow: inset 0 0 0 2px #fff;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    // border-radius:10em;

  }

  .front1 {
    color:black;
    // box-shadow: inset 0 0 0 2px black;
  }
}

.web-1-button{
  z-index:100;
  position:fixed !important;
  position:absolute;
  margin-top:3.5em;
  margin-left:78%;


  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position:relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin:auto;
    // vertical-align-item:center;
    align:center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em)
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.9em;
    position:absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size:0.6em;
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
    
    // &:hover {
    //   transform: rotateX(-90deg);
    // }
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  // .top {
  //   padding-top:1.3em;
  //   background: black;
  //   color: white;
  //   transform: rotateX(90deg) translate3d(0, 0, 2em);
  //   font-size:0.6em;
  //   font-weight:100;
  //   border-radius:10em;
  //   // border-radius:10em;


  // }

  .front {
    padding-top:1.3em;
    background: transparent;
    color: blue;
    box-shadow: inset 0 0 0 2px blue;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:100;
    border-radius:10em;
    // border-radius:10em;

  }
}


@media only screen and (min-width : 40em) {


.web01{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web02{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web03{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web-1-button{
  position:fixed;
  margin-top:4em;
  margin-left:85%;
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    // margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

}

@media only screen and (min-width : 60em) {


.web01{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web02{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web03{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web-1-button{
  margin-top:4em;
  margin-left:90%;
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    // margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

}

@media only screen and (min-width : 60em) {

.web01{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}

.web02{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}

.web03{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}

.web-1-button{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}
}