


.web01{
  width:100%;
  margin: auto;
  position: relative;

  .for-images{
    height:50vh;
    background-image: url("../assets/images/Web-1/ipad&iphone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 30em;
  }


  a{
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    width:10em;
    padding:1em;
    text-align: center;
    color: black;
    border:2px black solid;
    font-size:0.6em;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    height:3.8em;
    text-decoration: none !important;
    transition: 0.3s;

    &:hover{
      color: white;
      background-color: #333333;
      border: 2px #333333 solid;
    }
  }
}

.web02{
  width:100%;
  margin: auto;
  position: relative;

  .for-images{
    height:50vh;
    background-image: url("../assets/images/Web-2/iphone-main1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 30em;
  }
  

  a{
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    width:10em;
    padding:1em;
    text-align: center;
    color: black;
    border:2px black solid;
    font-size:0.6em;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    height:3.8em;
    text-decoration: none !important;
    transition: 0.3s;

    &:hover{
      color: white;
      background-color: #333333;
      border: 2px #333333 solid;
    }
  }
}

.web03{
  width:100%;
  margin: auto;
  position: relative;

  .for-images{
    height:50vh;
    background-image: url("../assets/images/Web-3/imac2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 40em;
  }


  a{
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    width:10em;
    padding:1em;
    text-align: center;
    color: black;
    border:2px black solid;
    font-size:0.6em;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    height:3.8em;
    text-decoration: none !important;
    transition: 0.3s;

    &:hover{
      color: white;
      background-color: #333333;
      border: 2px #333333 solid;
    }
  }
}


.web-1-button{
  z-index:200;
  position: fixed !important;
  // position:absolute;
  // float:right;
  width:100%;
  
  padding-right:1em;
  display: flex;
  justify-content: flex-end;
  // background-color: white;
  height:0em;
  // left:65%;

  a{
    margin-top:.3em;
    text-decoration: none !important;
  }

  .front {
    align-items: center !important;
    padding-top:0.3em;
    padding-bottom:0.45em;
    padding-left:1em;
    padding-right:1em;
    background: transparent;
    color: blue;
    border: 2px blue solid;
    // transform: translate3d(0, 0, 2em);
    font-size:0.8em;
    font-weight:400;
    border-radius:10em;
    text-transform: uppercase;
  }
}


@media only screen and (min-width : 40em) {


.web01{
  a{
    top:90%;
  }
}

.web02{
  a{
    top:90%;
  }

  .for-images{
    background-size: 40em;
  }
}

.web03{
  a{
    top:90%;
  }
}

.web-1-button{
  position:fixed;
  margin-top:-2.85em;

  .scene{
  }

  .cube{
  }

  .side{
  }

  .top{

  }

  .front{
  }
}

}

@media only screen and (min-width : 60em) {


.web01{
    .for-images{
      height:60vh;
      background-size: 40em;
      margin-left:10%;

      &:hover{}
    }

}

.web02{
    .for-images{
      height:60vh;
      background-size: 40em;
      margin-left:10%;

      &:hover{}
    }

}

.web03{
    .for-images{
      height:60vh;
      background-size: 40em;
      margin-left:10%;

      &:hover{}
    }

}

.web-1-button{

  .scene{
  }

  .cube{
  }

  .side{
  }

  .top{
  }

  .front{
  }
}

}

@media only screen and (min-width : 60em) {

.web01{
  a{
    font-size:0.8em;
  }
}

.web02{
  a{
    font-size:0.8em;
  }
}

.web03{
  a{
    font-size:0.8em;
  }
}

.web-1-button{
  .scene{
  }

  .cube{
  }
}
}