

.web01{

  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position: relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin: auto;
    // vertical-align-item:center;
    align: center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em);
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.6em;
    position: absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    /* font-size:0.6em; */
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 3em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  .front {
    padding-top:0.8em;
    background: transparent;
    color: black;
    box-shadow: inset 0 0 0 2px black;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:400;
    // border-radius:10em;

  }

  .front1 {
    color: black;
    // box-shadow: inset 0 0 0 2px black;
  }
}

.web02{

  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position: relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin: auto;
    // vertical-align-item:center;
    align: center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em);
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.6em;
    position: absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    /* font-size:0.6em; */
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 3em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  .front {
    padding-top:0.8em;
    background: transparent;
    color: black;
    box-shadow: inset 0 0 0 2px black;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:400;
    // border-radius:10em;

  }

  .front1 {
    color: black;
    // box-shadow: inset 0 0 0 2px black;
  }
}

.web03{

  .scene {
    // padding-top:2em;
    perspective: 100000000;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    position: relative;
    // margin-left: 10em;
    margin-top: -1.9em;
    // Margin-right:0.2em;
    margin: auto;
    // vertical-align-item:center;
    align: center;
    // position:absolute;
    // translate:(50% 50%);
    margin-left:0em;
    padding-left:0em;
    // align-items:center;
    // display:flex;
    // justify-content:center;
    transform: translate(0px, -1em);
  }

  .cube {
    top: 0;
    left: 2.5%;
    margin-top: -1.6em;
    position: absolute;
    translate:(20% 50%);
    color: #ccc;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    /* font-size:0.6em; */
    transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 0em;
    // height: 3em;
  }

  .side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 3em;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 1.5em;
  }

  .front {
    padding-top:0.8em;
    background: transparent;
    color: black;
    box-shadow: inset 0 0 0 2px black;
    transform: translate3d(0, 0, 2em);
    font-size:0.6em;
    font-weight:400;
    // border-radius:10em;

  }

  .front1 {
    color: black;
    // box-shadow: inset 0 0 0 2px black;
  }
}


.web-1-button{
  z-index:200;
  position: fixed !important;
  // position:absolute;
  // float:right;
  width:100%;
  
  padding-right:1em;
  display: flex;
  justify-content: flex-end;
  // background-color: white;
  height:0em;
  // left:65%;

  a{
    margin-top:.3em;
    text-decoration: none !important;
  }
  


  .front {
    align-items: center !important;
    padding-top:0.3em;
    padding-bottom:0.45em;
    padding-left:1em;
    padding-right:1em;
    background: transparent;
    color: blue;
    border: 2px blue solid;
    // transform: translate3d(0, 0, 2em);
    font-size:0.8em;
    font-weight:400;
    border-radius:10em;
    text-transform: uppercase;
  }
}


@media only screen and (min-width : 40em) {


.web01{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web02{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web03{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web-1-button{
  position:fixed;
  margin-top:-2.85em;
  // height:4.5em;
  // margin-left:16.5%;
  // background-color: transparent;
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    
    // margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{
    // font-size:1em;
  }
}

}

@media only screen and (min-width : 60em) {


.web01{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web02{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web03{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    font-size:1em;
    margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

.web-1-button{
  // margin-top:4em;
  // margin-left:23%;
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    
    // margin-top: -4em;
  }

  .side{
    // width: 9.25em;
  }

  .top{

  }

  .front{

  }
}

}

@media only screen and (min-width : 60em) {

.web01{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}

.web02{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}

.web03{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    left: 45%;
    font-size:1em;
    // margin-top: -4em;
  }
}

.web-1-button{
  .scene{
  // margin-right:2em;
  // margin-top:-2em;
  // margin-bottom:4em;

  }

  .cube{
    // left: 45%;
    // font-size:1em;
    // margin-top: -4em;
  }
}
}