// ooter

footer {
	padding-top:2em;
	height:4em;
	max-width:95%;
	position:relative;

	p{
		position:absolute;
		font-size:0.7em;
		padding-top:0.5em;
		color:grey;
		padding-left:2em;
	}

	.social-icons{
		max-width:95%;
		text-align:right;

		i{
			padding-left:2em;
			color:grey;
			font-size:0.8em;

			&:hover{
				color:black;
			}
		}
	}
}

@media only screen and (min-width : 40em) {
footer{
	padding-top:4em;
	margin-bottom:2em;

	.socila-icons{
		padding-top:4em;
		margin-bottom:2em;
	}
}

}

@media only screen and (min-width : 60em) {
	
}

@media only screen and (min-width : 80em) {
	
}