/*All devices and mobile phone*/

.body{
	// margin-top:1em;
	

	.heading{
		width:90%;
		margin:auto;
		padding:1em 0em 1em 0em;
		margin-left:1em;
		margin-top:5.8em;
		// height:50vh;
		display:block;
		// background-color:red;
		// border:1px black solid;

		h2{
			font:$oswaldFont;
			color:black;
			font-size:2em;
			// padding-bottom:0.5em;
			// border-bottom:2px blue solid;
			max-width:6em;
			// width:5em;
			display:inline-block;
			// line-height:2em;

			&:after {
		        content: "";
		        display: block;
		        width: 2em;
		        margin: 0.5em 0;
		        border-bottom:2px blue solid;
		    }
		}
		h4{
			font:$oswaldFont;
			color:black;
			z-index:1;
			font-size:1.2em;
			line-height:1.2em;
			// border-bottom:2px blue solid;
			// padding-bottom:0.5em;
			width:6em;

			&:after {
		        content: "";
		        display: block;
		        width: 2em;
		        margin: 0.5em 0;
		        border-bottom:2px blue solid;
		    }
		}

		p{
			font-size:0.8em;
			// float:right;
			top:0;
			left:0;
			width:100%;
			
			// margin:auto;
			
			// position:absolute;
		}
	}

	.banner{
		
		.social-icons{
			visibility: hidden;
		}

		
	}

	.section2{

		h2{
			// padding-top: 0em !important;
			// margin-top: 0em !important;
		}
	}

	.heading1{
		// padding:2em 0em 4em 0em;
		// margin-left:2em;
		padding-top:5em;
		width:90%;
		margin:auto;
		text-align:center;
		// font-style: italic;


		h2{
			font-size:0.8em;
			width:70%;
			margin:auto;
			padding-bottom:1em;
		}
		.sub-heading{
			font-size:0.7em;
			color:grey;
			// margin-bottom:0.2em;
			padding-bottom:1em;
		}

		.photographer{
			font-size:0.7em;
			color:grey;
		}

		.description{
			width:90%;
			font-size:0.6em;
			margin:auto;
			// font-style: italic;
			color:grey;
		}

	}

	.heading2{

		h2{
			font-size:1.5em;
			padding-top:3em;
			padding-bottom: none;
		}
	}

	.heading-2{
		// padding:2em 0em 4em 0em;
		// margin-left:2em;
		position:absolute;
		// padding-top:4em;
		width:100%;
		margin:auto;
		text-align:center;
		height:100vh;
		margin-top:0em;
		padding-top:0em;
		// font-style: italic;

		.about-content{
			position:relative;
			top:0;
			left:50%;
			transform: translate(-50%, 15%);

			.about-image{
				border-radius:100em;
				width:60%;
				// margin:auto;
				margin-bottom:3em;
			}			

			h2{
				font-size:0.8em;
			}

			.sub-heading1{
				font-size:0.9em;
				color:grey;
				margin-bottom:0.2em;
			}

			.photographer1{
				font-size:0.8em;
				color:grey;
			}

			.description1{
				width:80%;
				font-size:0.8em;
				margin:auto;
				font-style: italic;
				color:grey;
			}
		}
	}

	.web01{
		
		width:100%;
		// height:100%;
		// margin:auto;

		// .for-images{
		// 	height:50vh;
		// 	background-image: url("../assets/images/Web-1/ipad&iphone.png");
		// 	background-position: center;
  //    		background-repeat: no-repeat;
  //    		background-size: cover;
  //    		background-size: 30em !important;
		// }
	}
	.web02{
		width:100%;
		// height:100vh;
		// margin:auto;

		// .for-images{
		// 	height:50vh;
		// 	background-image: url("../assets/images/Web-2/Macbook.jpg");
		// 	background-position: center;
  //    		background-repeat: no-repeat;
  //    		background-size: cover;
  //    		background-size: 30em !important;
		// }
	}
	.web03{
		width:100%;
		// height:100vh;
		// margin:auto;

		// .for-images{
		// 	height:50vh;
		// 	background-image: url("../assets/images/iphone-x/mactest.jpg");
		// 	background-position: center;
  //    		background-repeat: no-repeat;
  //    		background-size: cover;
  //    		background-size: 30em !important;
		// }
	}

	.web-images{
		width:100%;
	}

	

	.my-description{
		z-index:1000;
		// width:40%;
		float:right;
		position:absolute;
		// background-color:grey;
		top: 35%;
	    left: 50%;
	    transform: translate(-10%, -100%);

	    p{
	    	color:grey;
	    	font:$oswaldFont;
	    	font-size:0.8em;
	    	height:100%;
	    }
	}

	.desktop-nav1 {
		list-style-type: none;
		text-align: center;
		padding: 1em 1em;
		// padding-left:.5em;
		height: 0;
		margin: 0;
		padding-left: 1em;
		margin-left:0;
		overflow: hidden;
		opacity: 1;
		font-size:0.8em !important;
		font-weight:800;

		li {
			margin: 0em 0em;
			text-transform: uppercase;
			font-weight: 400;
			// border-bottom: 1px #ADADAD dashed;

			&:nth-child(6){
				border: none;
			}

			a {
				text-decoration: none;
				color: black;
				font-weight: 300;
				// font-size:0.6em;
				// @include textShadow;
			}
		}

		.active1 {
			color: #fff;
			font-weight: 700;
		}
	}
	.desktop-nav1 {
		flex: 0 0 70%;
		height: 100%;
		display: flex !important;
		justify-content: center;
		justify-content: flex-start;
		align-items: center;
		transition: none;
		opacity: 1;
		width: 95% !important;

		li {
			border: none;
		}
	}

	.pure-menu-horizontal1{ 
		// position: fixed;
		// top:0;
		// left: 5em;
		max-width: 95%;
		margin:auto;
		height:5.5%;
		transform: translate(0%,0%);
		// font-size: 0.5em;
		// margin-left:5%;
		margin-left:0em;
		// padding-left:0em;
		padding-left:0em;
		margin: auto;
		font-size:0.46em;

		&.background-fixed{
		    background-color: black;
		    height:3em;

			a{
				color: black;
				// font-size:0.7em;

			}
		}

		.pure-menu-list1{
			font-size:1.8em !important;
		}
	}

	.pure-menu-item1{
	    transition: all ease 0.5s;
	    /*border-bottom: 0.3em transparent solid;*/
	    padding-bottom:1em;
	}

	.pure-menu-item1 a,.pure-menu-item1 a:hover, .pure-menu-item1 a:focus{
	    background-color: none;
	    text-decoration: none;
	}

	.pure-menu-item1 a:active{
	    color:blue;
	    border-bottom: 0.1em blue solid !important;
	    /*background-color: white;*/

	}

	.pure-menu-horizontal1 .first{
	    // border-bottom: 0.2em blue solid;
	    // padding-bottom:0.8em;
	    // font-size:0.6em;
	    margin-left:0;
	    // background-color: transparent;

	}

	.active3{
	    border-bottom: 0.1em blue solid !important;
	    padding-bottom:0.8em;
	    margin-left:0em !important;
	    border-radius:0em;
	    padding-left:0em;
	    padding-top:10em;
	    /*background-color: white;*/

	}

	.active2{
	    border-bottom: 0.2em blue solid;
	    padding-bottom:0.8em;
	    margin-left:0;
	    border-radius:0em;
	    /*background-color: white;*/

	}

	.active1{
	    border-bottom: 0.2em blue solid !important;
	    padding-bottom:0.8em;
	    margin-left:0;
	    border-radius:0em;
	    /*background-color: white;*/

	}
}




@media only screen and (min-width : 40em) {
	.body{
		// padding-top:8em;
		padding-top:4em;
		

		.heading{
			// padding:2em 0em 4em 0em;
			// margin-left:2em;
			width:90%;
			margin:auto;

			p{
				width:50%;
			}

		}

		
		.banner{
			// height:70vh !important;

			// background-color: black;
			background-image: url("../assets/images/Skills/Photography/tech.jpg");
	        background-position: center;
	        background-repeat: no-repeat;
	        background-size: cover;
	        // background-size: 100%;
			// margin-top:-2em;
			height:50vh !important;
			position: relative;

			&:before {
			  content: "";
			  position: absolute;
			  left: 0; right: 0;
			  top: 0; bottom: 0;
			  background: rgba(0,0,0,0.5);
			}

			.heading-type-body{
				position: absolute;
				left: 10em;
			    top: 50%;
			    transform: translate(-50%, -50%);

				h2{
					color: white !important;
					border-bottom: none;
					font-size:1.5em;

					&:after {
			          content: "";
			          display: block;
			          width: 2em;
			          margin: 0.5em 0;
			          border-bottom:2px blue solid;
			      }
				}

				h4{
					color: white !important;
					border-bottom: none;
					padding-bottom: 0em;
					margin-bottom: 0em;
					font-size:1em;
					font-weight:300;

					&:after {
			          content: "";
			          display: block;
			          width: 2em;
			          margin: 0.5em 0;
			          border-bottom:2px blue solid;
			          margin-bottom:0em;
			      	}
				}

				a{
					// padding-top:2em;

					i{
						font-size:0.8em;
						// padding-top:3em;
						color: white;
					}
				}
			}

			.social-icons{
				visibility: visible;
				position: absolute;
				left: 45%;
			    top: 90%;
			    transform: translate(-50%, -50%);
			    width:100%;
			    text-align: right;

			    a{
			    	padding-left:1em;

			    	i{
			    		font-size:1em;
			    		color: white;

			    		&:hover{
			    			opacity:0.8;
			    		}
			    	}
			    }
			}


		}

		.heading-1{
			// padding:2em 0em 4em 0em;
			// margin-left:2em;
			padding-top:1em;
			width:90%;
			margin:auto;
			text-align:center;
			// font-style: italic;
			

			h2{
				font-size:0.8em;
			}
			.sub-heading{
				font-size:0.7em;

			}
			.description{
				width:50%;
				font-size:0.6em;
				margin:auto;
				font-style: italic;
			}
			.photographer{
				width:60%;
				// font-size:0.6em;
				margin:auto;
				// font-style: italic;
			}

		}

		.my-description{
			top: 45%;
		    left: 50%;
		    transform: translate(-10%, -100%);

		    p{
		    	color:grey;
		    	font:$oswaldFont;
		    	font-size:1.2em;
		    	height:100%;
		    	// border-left:2px black solid;
		    	padding-left:1em;
		    }
		}
	}

	
	.pure-menu-horizontal1{
		width: 90%;
		margin:auto;
		font-size:1em !important;

		&.background-fixed{
		    background-color:black;
		    height:3em;

			a{
				color:black;
				// font-size:0.7em;

			}
		}

		.pure-menu-list1{
			// font-size:2em !important;
		}
	}

	.pure-menu-horizontal{
		font-size: 0.6em;
		// top:2em;
		// width: 90%;
		padding-right:3%;
	}

.active3{

    padding-top:6em !important;
    /*background-color: white;*/

}

.active1{

    font-size: 0.5em;

}

.about-image{
	width:40% !important;
}	

.description1{
	width:40% !important;

}

.about-image{
	max-width:20em;
	margin-top:-5em;
}


}



/*for tablet - inclusive*/

@media only screen and (min-width : 60em) {

.body{
	margin-top:5em;

	.heading{
		// padding-top:1em;

		p{
			width:30%
		}
	}
	.banner{
		height:50vh !important;

		.heading-type-body{
			left:10em;

			h2{
				font-size:2em;
				padding-bottom:none !important;
				margin-bottom:none !important;
				// font-weight:100;
			}
			h4{
				padding-top:none !important;
				margin-top:none !important;
				font-size:1.5em;
				font-weight:300;

			}
		}

	}

	.heading-1{

		.description{
			width:50%;
		}
	}
}

}



/*for destop - inclusive*/

@media only screen and (min-width : 80em) {
	.body{
		padding-top:3em;

		.banner{

			.social-icons{
				left: 47%;
			}
		}

	}

	.body1{
		padding-top:0em;

	}

}


	





