.header {
	height: 100vh;
	background-image: url('../assets/images/hero-image-mobile.jpeg');
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		background-color: rgba(0,0,0,0.5);
		height: 100%;
		width: 100%;

	}

	// .pure-menu-list{
	// 	&.background-fixed{
	// 		    background-color:white;
	// 		    height:3em;

	// 			a{
	// 				color:black;

	// 			}
	// 		}
	// }

	nav {
		top:0;
		position: relative;
		// position: fixed;
		z-index: 100;

		.bars{
			position: fixed;
			top:0;
			min-left: 85%;
			// max-left:100%;
			z-index: 300000;
			color:white;
			// background-color:white;
			width:1.5em;
			padding-left:0.3em;
			// border-radius:2em;
		}
	}

	.bars-fixed{
		color:black;
		// background-color:white;
		// border-radius:2em;
	}


	.nav-body{
		// margin-top:50%;
		// padding-bottom:4em;
		width: 20em;

		.mobile-nav{
			z-index: 90000;
			position: fixed;
			margin-top:-3.75em;
			// height:100vh;
			width:95%;
			left:2.5%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}
	
	.nav-open{
		height: 95% !important;
		// height:100vh;
		// psition:relative;
		background-color:white;
		z-index: 9000;

		display:flex;
		flex-wrap:wrap;
		align-content:center;

		li{
			flex: 1 0 90%;
		}

		a{
			color:black;
		}
	}

	.fa-times{
		color:black;
		padding-right:0.5em;
		padding-top:1em;
		z-index: 10000;
		// border:1px red solid;
	}

	.hero {
		background-color:rgba(1, 1, 1, .2);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		// top: 50%;
		left: 10%;
		width: 80%;
		margin:auto;
		// max-height:80%;
		// transform: translate(-50%,-50%);
		z-index: 1;
		// overflow:hidden;
		// margin-top:20%;
		height:80%;




	}

	.hero-inner {
		padding: 2em 2em 2em 2em;
		color: #fff;
		// z-index: 5;
		overflow:hidden;

		h4 {
			width:100%;
			// padding-top:2em;
			// margin:auto;
			font-size: 2em;
			letter-spacing: $displayLetterSpacing;
			text-transform: uppercase;
			// text-align: center;
			// @include textShadow;
			font-family: $oswaldFont;
			font-weight: 600;
			margin-bottom: 1em;
		}

		h2 {
			width:100%;
			// padding-top:2em;
			// margin:auto;
			font-size: 2em;
			letter-spacing: $displayLetterSpacing;
			text-transform: uppercase;
			// text-align: center;
			// @include textShadow;
			font-family: $oswaldFont;
			font-weight: 600;
			margin-bottom: 1.5em;
		}

		h3 {
			font-size: 1em;
			// @include textShadow;
			font-family: $oswaldFont;
			// text-align: center;
			margin-bottom: 2em;
			font-weight: 300;
		}

		.hero-button {
			// padding: .5em;
			// border: 3px #fff solid;
			// display: block;
			// max-width: 100%;
			// text-align: center;
			// margin: auto;
			// margin-bottom:4em;

			a {
				font-size:0.8em;
				color: #fff;
				text-transform: uppercase;
				text-decoration:none;
				font-family: $oswaldFont;
				padding: .5em;
				border: 3px #fff solid;
				display: block;
				max-width: 100%;
				text-align: center;
				margin: auto;
				// @include textShadow;

				&:hover{
					opacity:0.5;
				}

			}
		}
	}
}

@media only screen and (min-height: 660px) {

	.header {

		.section1{
			margin-top:2em;
		}

		.hero {
			// top: 40%;
		}

		.hero-inner {

			padding: 2em 2em 2em 2em;

			h4 {
				max-width:100%;
				font-size: 2em;
				// margin-bottom: 1em;
			}

			h2 {
				max-width:100%;
				font-size: 2em;
				// margin-bottom: 1em;
			}

			h3 {
				font-size: 1.8em;
			}

			.hero-button {
				max-width: 100%;

				&:hover{
					color:black;
				}

				a {
					font-size: 1em;
				}
			}
		}
	}
}

@media only screen and (min-width : 40em) {

	.header {

		.section1{
			margin-top:4em;
		}
		
		.hero-inner {
			// height:100%;
			margin: 1em 6em 1em 6em;

			h4 {
				max-width:100%;
				font-size: 2em;
				// margin-bottom: 1em;
			}

			h2 {
				max-width:100%;
				font-size: 2em;
				// margin-bottom: 1em;
			}

			h3 {
				font-size: 1.8em;
			}

			.hero-button {
				max-width: 100%;

				&:hover{
					color:black;
				}

				a {
					font-size: 1em;
				}
			}
		}
	}
}

@media only screen and (min-width : 60em) {
	
	.pure-menu-horizontal{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height:5.5%;
			transform: translate(0%,0%);
			font-size: 0.8em;

			&.background-fixed{
			    background-color:white;
			    height:3em;

				a{
					color:black;

				}
			}
		}

		.pure-menu-item{
		    transition: all ease 0.5s;
		    /*border-bottom: 0.3em transparent solid;*/
		    padding-bottom:1em;
		}

		.pure-menu-item a,.pure-menu-item a:hover, .pure-menu-item a:focus{
		    background-color: none;
		    text-decoration: none;
		}

		.pure-menu-item a:active{
		    color:$lightBlue;
		    /*background-color: white;*/

		}

		.pure-menu-horizontal .active{
		    border-bottom: 0.2em $lightBlue solid;
		    padding-bottom:0.8em;
		    /*background-color: white;*/

		}

	.header {
		background-image: url('../assets/images/hero-image-desktop.jpeg');

		.logo{
			margin-top:0.8em;
		}

		.section1 {
			margin-top:2em;

			.hero-inner {
				// height:100%;
				// margin: 1em 6em 1em 6em;

				h4 {
					// max-width:100%;
					font-size: 3em;
					// margin-bottom: 1em;
				}

				h2 {
					// max-width:100%;
					font-size: 3em;
					// margin-bottom: 1em;
				}

				h3 {
					// font-size: 1.8em;
				}

			}
		}
	}
}