

.web1{
  // position:relative;
  height:100%;
  // height: 100%;
  // align-items:center;
  display: block;
  width: 100%;

  .left{
    img{
      width:100%;
    }
    // background-image: url("../assets/images/iphone-x/Mockup.gif");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-color: black;
    // flex:1 0 50%;
    // left: 0px;
    width: 100%;
    height:100%;
    // flex:0 0 80%;
    // display:block;
  }

  .right{
    // background-color: grey;
    // flex:0 0 80%;
    // display:block;
    // right: 0px;
    padding:2em;
    width: 100%;
    height:100%;

    .web-heading{
      font-size:1.5em;
      padding-bottom:1em;

      &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
      }
    }

    .web-description{
      font-size:0.8em;
    }
  }
}

.web2{
  
  .img1{
    padding-right:0em;
    width:100%;
  }

  .web-type{
    // margin-top:-20%;
    // margin-top:1em;
    padding:2em;

    .web-heading{
      margin-top:-20%;
      font-size:1.5em;
      padding-bottom:1em;

      &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
      }
    }

    .web-description{
      font-size:0.8em;
    }
  }
}

.web7{
  height:100%;
  display: block;
  width: 100%;

  .right{
    padding:2em;
    img{
      width:100%;
    }

    width: 100%;
    height:100%;

  }

  .left{
    padding:2em;
    width: 100%;
    height:100%;

    .web-heading{
      font-size:1.5em;
      padding-bottom:1em;

      &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
      }
    }

    .web-description{
      // padding-bottom:1em;
      font-size:0.8em;
    }
  }
}

.web8{
  
  .img1{
    padding:5em;
    margin-bottom:5em;
    // padding-right:0em;
    width:100%;
  }

  .web-type{
    margin-top:-20%;
    // margin-top:1em;
    padding:2em;

    .web-heading{
      font-size:1.5em;
      padding-bottom:1em;

      &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
      }
    }

    .web-description{
      font-size:0.8em;
    }
  }
}

.web3{
  margin:auto;
  // align-items:center;

  .feature-heading{
    width:100%;
    padding:2em;
    padding-left:1em;
    text-align:left;
    font-size:1.5em;

    &:after {
      content: "";
      display: block;
      width: 2em;
      margin: 0.5em 0;
      border-bottom:2px $blue solid;
    }
  }
  .features{
    margin:auto;
    width:100%;

    .img1{
      padding-right:0em;
      max-width:15%;
      margin-left:43%;
    }

    .web-feature-heading{
      text-align:center;
      padding-bottom:1em;
      padding-top:1em;
      margin:auto;
      width:70%;
      font-size:0.8em;

      &:after {
          content: "";
          display: block;
          width: 2em;
          margin: 0.5em auto 0;
          border-bottom:2px $blue solid;
      }
    }

    .web-description{
      text-align:center;
      padding-top:1em !important;
      padding:4em;
      margin:auto;
      width:100%;
      font-size:0.8em;
    }
  }
  
}

.web4{

  .feature-heading{
    width:100%;
    padding:2em;
    padding-left:1em;
    text-align:left;
    font-size:1.5em;

    &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
    }
  }
  
  .img1{
    padding-right:0em;
    width:100%;
  }

  .left{

    .img1{
      margin-top:-1.5em;
      padding-left:0.5em;
      padding-right:0.5em;
      padding-bottom:3em;
      // width:80%;
      // margin:auto;

      }
  }
}


.web5{
  height:100%;
  display: block;
  width: 100%;

  .left{
    img{
      width:100%;
    }

    width: 100%;
    height:100%;
  }

  .right{
    padding:2em;
    width: 100%;
    height:100%;

    .web-heading{
      font-size:1.5em;
      padding-bottom:1em;

      &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
      }
    }

    .web-description{
      font-size:0.8em;
    }
  }
}

.web6{
  height:100%;
  display: block;
  width: 100%;

  .feature-heading{
    width:100%;
    padding:2em;
    padding-bottom:0em;
    padding-left:1em;
    text-align:left;
    font-size:1.5em;

    &:after {
        content: "";
        display: block;
        width: 2em;
        margin: 0.5em 0;
        border-bottom:2px $blue solid;
    }
  }

  .left{
    img{
      width:100%;
    }
  }
}





@media only screen and (min-width : 40em) {

  .web1{
     // position:relative;
    height:100%;
    // height: 100%;
    // align-items:center;
    display: flex;
    width: 100%;
    display:table;

    .left{
      background-image: url("../assets/images/Web-1/sign-in.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // background-color: black;
      // flex:1 0 50%;
      left: 0px;
      width: 100%;

      img{
        opacity:0;
      }
    }

    .right{
      display: table-cell;
      vertical-align: middle;
      // background-color: grey;
      flex:1 0 50%;
      right: 0px;
      padding:5em;
      padding-left:0em;
      width: 50%;
    }
  }

  .web2{
  position:relative;

    .img1{
      // padding-right:20em;
      margin-top:2em;
      max-width:50%;
      // margin-bottom:5em;
    }

    .web-type{
      // margin-top:1%;
      width:45%;
      position:absolute;
      // float:right;
      transform: translate(-50%, -60%);
      margin-top:0em;
      top:60%;
      left:75%;

      .web-heading{
        // width:60%;
        font-size:1.5em;
      }

      .web-description{
        // width:60%;
        font-size:0.8em;
      }
    }
  }

   .web7{
     // position:relative;
    height:100%;
    // height: 100%;
    // align-items:center;
    display: flex;
    width: 100%;
    display:table;

    .right{
      background-image: url("../assets/images/Web-1/observation1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 90%;
      // background-color: black;
      // flex:1 0 50%;
      // padding:5em !important;
      left: 0px;

      img{
        opacity:0;

      }
    }

    .left{
      display: table-cell;
      vertical-align: middle;
      // background-color: grey;
      // flex:1 0 50%;
      right: 0px;
      padding:5em !important;
      padding-left:0em;
      width: 50%;

      .web-description{
        font-size:0.8em;
      }
    }
  }

  .web8{
  position: relative;

    .img1{
      // padding-right:20em;
      margin-bottom:0em;
      max-width:50%;
      // margin-bottom:5em;
    }

    .web-type{
      // margin-top:1%;
      width:45%;
      position: absolute;
      // float:right;
      transform: translate(-50%, -60%);
      margin-top:0em;
      top:55%;
      left:75%;

      .web-heading{
        // width:60%;
        font-size:1.5em;
      }

      .web-description{
        // width:60%;
        font-size:0.8em;
      }
    }
  }

  .web3{
      // height:60vh;
      display:flex;
      // margin:auto;
      // align-items:center;
      width:100%;

      .feature-heading{
        padding:0em;
        padding-top:2em;
        // width:80%;
        text-align:center;
        font-size:1.5em;
        position:absolute;
        // left:5%;
        // margin-top:10%;

        &:after {
            content: "";
            display: block;
            width: 2em;
            margin: 0.5em auto 0;
            border-bottom:2px $blue solid;
        }
      }

    .features{
      flex-grow:1 1 60%;
      // margin-top:6em;
      margin:auto;
      width:100%;

      .img1{
        margin-top:12em;
        padding-right:0em;
        margin-bottom:2em;
        max-width:15%;
        // margin-left:40%;

      }

      .web-feature-heading{
        // height:20em;
        // padding:1em;
        margin:auto;
        width:70%;
        font-size:0.8em;
        // margin-bottom:10em;

        &:after {
            content: "";
            display: block;
            width: 2em;
            margin: 0.5em auto 0;
            border-bottom:2px $blue solid;
        }
      }

      .web-description{
        height:25em;
        padding:1em;
        margin:auto;
        width:90%;
        font-size:0.8em;
        // margin-bottom:10em;
      }
    }
    
  }

  .web4{
    // position:relative;
    height:100%;
    // height: 100%;
    // align-items:center;
    display: flex;
    width: 100%;

    .feature-heading{
      padding:0em;
      padding-top:2em;
      // width:80%;
      text-align:center;
      font-size:1.5em;
      position:absolute;
      // left:5%;
      // margin-top:10%;

      &:after {
          content: "";
          display: block;
          width: 2em;
          margin: 0.5em auto 0;
          border-bottom:2px $blue solid;
      }
    }

    .left{
      background-color: white !important;
      background-image: url("../assets/images/Web-1/wireframe.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
      background-size: 30em;
      flex:1 0 50%;
      left: 0px;
      width: 100%;

      .img1{
        visibility: hidden;

      }
    }

    .right{
      // background-color: grey;
      height:100%;
      flex:1 0 50%;
      right: 0px;
      padding:4em;
      width: 50%;
    }

      
  }

  .web5{
     // position:relative;
    height:100%;
    // height: 100%;
    // align-items:center;
    display: flex;
    width: 100%;
    display:table;

    .left{
      background-image: url("../assets/images/Web-1/ipad&iphone.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 35em;
      // background-color: black;
      // flex:1 0 50%;
      left: 0px;
      width: 150%;

      img{
        opacity:0;
      }
    }

    .right{
      display: table-cell;
      vertical-align: middle;
      // background-color: grey;
      flex:1 0 50%;
      right: 0px;
      padding:5em;
      padding-left:10em;
      width: 50%;
    }
  }

  .web6{
     // position:relative;
    height:100%;
    // height: 100%;
    // align-items:center;
    display: flex;
    width: 100%;
    display:table;

     .feature-heading{
        padding:0em;
        padding-top:2em;
        // width:80%;
        text-align:center;
        font-size:1.5em;
        position:absolute;
        // left:5%;
        // margin-top:10%;

        &:after {
            content: "";
            display: block;
            width: 2em;
            margin: 0.5em auto 0;
            border-bottom:2px $blue solid;
        }
    }

    .left{
      background-image: url("../assets/images/Web-1/usecase.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // background-size: 80em;
      // background-color: black;
      // flex:1 0 50%;
      left: 0px;
      width: 100%;

      img{
        visibility: hidden;
      }
    }

   
  }


}

@media only screen and (min-width : 60em) {

  .web01{

    .right{
      
      .web-description{
        max-width:80%;
      }
    }
  }

  // .web4{
   

  //   .left{
     
  //     .img1{
        
  //       padding:10em;
        

  //     }
  //   }
  // }

  .web4{

    .left{
      background-size: 45em;
    }
  }

  .web5{

    .left{
      background-size: 60em;
    }
  }

  .web6{

    .left{
      background-size: 45em;
    }
  }
}


@media only screen and (min-width : 80em) {

  .web01{
    max-width:100%;
    margin:auto;
  }

  .web2{
    max-width:100%;
    margin:auto;
  }

  .web3{
    max-width:100%;
    margin:auto;
  }

  .web4{

    .left{
      background-size: 60em;
    }
  }

  .web6{
    .left{
      height:100vh !important;
       background-size: 70em;
      // max-width: 80%;
    }
  }
}